{% extends 'base.html' %}

{% block content %}
<div class="container">
<header>
    <nav>
        <a  class="logo" href="/">TELL CLOUD</a>
        <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Sobre</a></li>
            <li><a href="/">Projetos </a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
</header>
<aside></aside>
<main>
    
    <input type="button" onclick="funcao1()" value="Exibir Alert" />

    
 </main>
<footer></footer>

{% endblock content %}
</div>









<!--caso tenha o produto-->